.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}



.logo {
    padding-right: auto;
    border-width: 05px;
    border-color: white;
    margin-right: 1.5rem;
}

.hero {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border-style: double;
    border-width: 08px;
    border-color: rgb(20, 19, 19);
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    padding: 05%;
}


.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}



.description {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    margin: 10px;
    padding-top: 05%;
}



.box {

    padding: 05px;
    margin: 05px;
    width: 25%;
    display: inline-block;
    max-height: fit-content;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    height: fit-content;
    border-width: 5px;
    border-radius: 30%;
    border-color: rgb(49, 49, 49);
}

.text {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    background: linear-gradient(to right, rgb(16, 5, 58), rgb(53, 46, 153), rgb(16, 5, 58));
    padding: 5%;
    height: max-content;
    border-radius: 20%;
}


/*.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.asideTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
} */

.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    paddinging: 1rem;
}


.joinTitle{
    text-align: center;
    font-size: 2rem;
    padding: 2px 1px;
    font-weight: 600;
    margin-bottom: 1rem;

}

.joinText{
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
}

.joinButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 50px;
    border-style: double;
    border-width: 08px;
    border-color: rgb(20, 19, 19);
    background: linear-gradient(to right, rgb(16, 5, 58), rgb(53, 46, 153), rgb(16, 5, 58));
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border: none;
    outline: none;
}

.joinButton:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}

@media screen and (max-width: 768px) {
    .box {
        width: 100%;
    }

    .hero{
        padding: 10%;    

      }
      .main{
        padding-top: 10%;
        flex-direction: column;
      }
}