/* .wrapper {
    padding: 20px;
    position:relative;
    bottom:0;
    
}

.container {
    background-color: #0E0C0C;
    color:#FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 10px 30px;
    overflow: hidden;
   
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}

.heading {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color:#FFCBCB;
    padding:7px;
}

.spanHeading {
    font-family: 'Jost';
    color: #FFD600;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.linkIcon {
    border-radius: 50%;

}

.listItem {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    line-height: 20px;
    list-style: none;
}

.icons {
    background-color: transparent;
    border-radius: 50%;
    color: #2B3545;
    font-size: 40px;
}
.icons :hover{
    color:#FFD600;
}

.bio {
    width: 33%;
}

.company {
    width: 33%;
}

.linkItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px 10px;
    cursor: pointer;
} */

.footer{
    background-color: rgb(1,8,14);
    color: rgb(222,227,234);
    padding-block: 3rem;
}

.flayout{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.layout{
    margin-inline: auto;
    max-width: 80rem;
    width: 91.666667%;
}
.linkGroup{
    display: grid;
    grid-template-columns: repeat(4,-webkit-min-content);
    grid-template-columns: repeat(4,min-content);
    justify-content: space-between;
    margin: auto;
    padding: 1rem;
    width: 80%;
    
}
.linkHead{
    border-bottom: 1px solid rgb(233, 225, 66);
    font-size: 1.15rem;
    margin-bottom: 1rem;
    padding-bottom: 0.75rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.socialSection{
    border-bottom: 1px solid rgb(222,227,234);
    border-top: 1px solid rgb(222,227,234);
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    margin-top: 5rem;
    padding-block: 1rem;
}

.links{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.copyright{
    -webkit-margin-before: 2rem;
    font-size: 1.2rem;
    margin-block-start: 2rem;
    text-align: center;
}

.highlights{
    color: rgb(255 214 0);
    font-weight: 600;
}


@media (max-width: 900px){
    .footer{
        -webkit-padding-after: 10rem;
        padding-block: 2rem;
        padding-block-end: 10rem;
        text-align: center;
        
    }
    .socialSection {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .links {
        width: 100%;
        justify-content: center;
    }
    
    .copyright {
        margin-top: 1rem;
    }
    
    .linkGroup {
        grid-template-columns: repeat(2, min-content);
        text-align: left;
        row-gap: 2rem;
        width: 70%;
    }
    
    .linksHead{
        font-size: 1rem;
    }
    
    .linkGroup li {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    .linkGroup {
      width: 90%;
      /* grid-template-columns: repeat(2, 1fr); */
      padding: 0;
    }

    .socialSection{
        font-size: 1.3rem;
    }

    .linksHead {
      font-size: 0.9rem;
    }
  
    .linkGroup li {
      font-size: 0.7rem;
    }
  }
  

@media (max-width: 600px) {
    .linkGroup {
        width: 80%;
    }

    .linkHead {
        font-size: 0.95rem;
    }

    .linkGroup li {
        font-size: 0.8rem;
    }
}

