.wrapper{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
}

.logo{
    justify-content: flex-start;
    height: 80px;
    width: 80px;
}

.rightSide{
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem{
    margin: 0 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
}