/* .team{
    padding: 65px;
    height: 100vh;
} */
.Stats__head {
    background-color: rgb(225 229 254/1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 37px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    color: #fff;
}
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        padding: 0 .5rem;
    }
    
    .teamMember {
        width: 50%;
        margin: .75rem 0;
        padding: .75rem;
        height: 70%;
    }
    .teamMember__img {
        width: 20%;
        height: 20%;
        border-radius: 50%;
        object-fit: cover;
    }
    .title{
        font-size: 1rem;
        font-weight: 600;
        margin-top: .5rem;
    }

}

@media (max-width: 320px) {
    .wrapper {
        flex-direction: column;
    }
    
    .teamMember {
        width: 50vw;
        margin: .5rem 0;
        padding: .5rem;
        height: 50%;
    }
    .teamMember__img {
        width: 10%;
        height: 10%;
        border-radius: 50%;
        object-fit: cover;
    }
    .title{
        font-size: .5rem;
        font-weight: 600;
        margin-top: .5rem;
    }
    .imgBoder{
        border: 3px solid green;
        width: 147px !important;
        height: 191px !important;
        border-radius: 50%;
        position: absolute;
        margin-top: -117px;
        margin-left: 29px;
    }
}
    


.teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;

}
.imgBoder{
    border: 3px solid green;
    width: 183px !important;
    height: 183px !important;
    border-radius: 50%;
    position: absolute;
    margin-top: -99px;
}
.iconGitCover{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: -248px;
    margin-left: 107px;
    background-color: rgb(36, 38, 197);
}
.iconStyleGit{
    position: absolute;
    margin-top: -249px;
    margin-left: 107px;
    border-radius: 17px;
}
.iconTwitCover{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: -179px;
    margin-left: 168px;
    background-color: rgb(36, 38, 197);
}
.iconStyleTwit{
    position: absolute;
    margin-top: -177px;
    margin-left: 169px;
    border-radius: 17px;
}
.iconLinCover{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: -88px;
    margin-left: 186px;
    background-color: rgb(36, 38, 197);
}
.iconStyleLin{
    position: absolute;
    margin-top: -90px;
    margin-left: 188px;
    border-radius: 17px;
}
.iconInstaCover{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: 1px;
    margin-left: 157px;
    background-color: rgb(36, 38, 197);
}
.iconStyleInsta{
    position: absolute;
    margin-top: -1px;
    margin-left: 158px;
    border-radius: 17px;
}
.iconEmailCover{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 3px solid green;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 89px;
    background-color: rgb(36, 38, 197);
}
.iconStyleEmail{
    position: absolute;
    margin-top: 59px;
    margin-left: 89px;
    border-radius: 17px;
}
.imgBox{
    margin-left: 8px;
}

.teamMember__img {
    width: 148px;
    height: 164px;
    border-radius: 50%;
    object-fit: cover;
}

.teamMember__img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}


.socialItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid rgb(222, 227, 234, .2);
}

.social__github {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: #639;
    border-radius: 50%;
    padding: 2px;
}

.social__github:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.social__twitter {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(10, 47, 168);
    border-radius: 50%;
    padding: 2px;
}

.social__twitter:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.social__linkedin:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.social__linkedin {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(10, 168, 150);
    border-radius: 50%;
    padding: 2px;
}

.social__instagram {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(168, 10, 129);
    border-radius: 50%;
    padding: 2px;
}

.social__instagram:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.social__email {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    color: rgb(168, 10, 10);
    border-radius: 50%;
    padding: 2px;
}

.social__email:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}