
.bgImage {
    background-image: url("../assets/images/Group.png");
    position: absolute;
    left: 18.46%;
    right: 78.9%;
    top: 9.37%;
    bottom: 89.55%;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    /* background-size: contain; */
}