.dot1 {
    position: absolute;
    left: 79.59%;
    right: 19.82%;
    top: 14.97%;
    bottom: 84.86%;
    height: 5px;
    width: 5px;
    background: #FCD05C;
    mix-blend-mode: lighten;
    shape-outside: -o-repeating-linear-gradient(45deg, transparent, transparent 10px, #FCD05C 10px, #FCD05C 20px);
}

.dot2 {
    position: absolute;
    left: 39.67%;
    right: 59.73%;
    top: 26.05%;
    bottom: 73.77%;
    height: 5px;
    width: 5px;
    background: #D15D64;
    mix-blend-mode: lighten;
}

.dot3 {
    position: absolute;
    left: 28.13%;
    right: 71.5%;
    top: 14.57%;
    bottom: 85.32%;
    height: 5px;
    width: 5px;
    background: #00A959;
    mix-blend-mode: lighten;
}

.dot4 {
    position: absolute;
    left: 14.72%;
    right: 84.93%;
    top: 25.45%;
    bottom: 74.45%;
    height: 5px;
    width: 5px;
    background: #D15D64;
    mix-blend-mode: lighten;
}

.dot5 {
    position: absolute;
    left: 93.35%;
    right: 6.33%;
    top: 25.05%;
    bottom: 74.86%;
    height: 5px;
    width: 5px;
    background: #D15D64;
    mix-blend-mode: lighten;
}

.dot6 {
    position: absolute;
    left: 21.54%;
    right: 78.13%;
    top: 26.31%;
    bottom: 73.59%;
    height: 5px;
    width: 5px;
    border: 1.097px solid #7B63AB;
}

.dot7 {
    position: absolute;
    left: 7.36%;
    right: 92.04%;
    top: 26.66%;
    bottom: 73.17%;
    height: 5px;
    width: 5px;
    background: #E98333;
    mix-blend-mode: lighten;
}

.dot8 {
    position: absolute;
    left: 11.19%;
    right: 88.47%;
    top: 4.6%;
    bottom: 95.3%;
    height: 5px;
    width: 5px;
    background: #FCD05C;
    mix-blend-mode: lighten;
}

.dot9 {
    position: absolute;
}

.dot10 {
    position: absolute;
}

.dot11 {
    position: absolute;
}

.dot12 {
    position: absolute;
}

.dot13 {
    position: absolute;
}

.dot14 {
    position: absolute;
}

.dot15 {
    position: absolute;
}

.dot16 {
    position: absolute;
}

.dot17 {
    position: absolute;
}