.what__we__offer {
    width: 90%;
    max-height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: rgb(20, 19, 19);
    border-radius: 20px;
    position: relative;
    margin-top: 50px;
}

.offer {
    color: white;
    position: absolute;
    justify-content: center;
    width: 25%;
    height: 25%;
    left: 15%;
    text-align: center;
    padding-top: 15%;
    max-height: fit-content;
}

.container {
    width: 50%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-radius: 20px;
}

.flex {
    font-size: 18px;
    font-weight: 500px;
    width: 90%;
    height: 50px;
    color: white;
    padding-left: 15px;
    border-radius: 30px;
    margin:8px;
    padding-top:10px;
    justify-content: center;
    background: linear-gradient(to right, rgb(53, 46, 153), rgb(16, 5, 58),rgb(20, 19, 19) );
}


.offer span {
    font-size: 34px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
